//  SCREEN SIZES
@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media screen and #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
}
@mixin respond-from-to($from, $to) {
  // Prints a media query based on the value
  @media #{inspect(map-get($breakpoints, $from))} and #{inspect(map-get($breakpoints, $to))} {
    @content;
  }
}

//  PLACEHOLDERS
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

//  TRANSITIONS
/*
    @include transition(color .3s ease);
*/
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

//  ANIMATIONS AND KEYFRAMES
/*
    @include keyframes(slide-down) {
      0% { opacity: 1; }
      90% { opacity: 0; }
    }

    .element {
      width: 100px;
      height: 100px;
      background: black;
      @include animation('slide-down 5s 3');
    }
*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

//  OPACITY
/*
    @include opacity(0.8)
*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//  OPACITY
/*
    @include boxshadow(0px,1px,2px,rgba(green,0.4));
*/
@mixin boxshadow($h: 0px, $v: 1px, $b:2px, $mix-color: rgba(0,0,0,.25), $inset: ""){
  -webkit-box-shadow : $h $v $b $mix-color unquote($inset);
  -moz-box-shadow : $h $v $b $mix-color unquote($inset);
  box-shadow : $h $v $b $mix-color unquote($inset);
}

//  MARGIN & PADDING
@mixin generateMarginPadding($offset, $string: false, $important: false) {
  $list: "top" "bottom" "left" "right";
  @each $item in $list {
    $i: index($list, $item);
    @if $string {
      .margin-#{$string}-#{$item} {
        @if $important {
          margin-#{$item}: $offset!important;
        }
        @else {
          margin-#{$item}: $offset;
        }
      }
      .padding-#{$string}-#{$item} {
        @if $important {
          padding-#{$item}: $offset!important;
        }
        @else {
          padding-#{$item}: $offset;
        }
      }
    }
    @else {
      .margin-#{$item} {
        @if $important {
          margin-#{$item}: $offset!important;
        }
        @else {
          margin-#{$item}: $offset;
        }
      }
      .padding-#{$item} {
        @if $important {
          padding-#{$item}: $offset!important;
        }
        @else {
          padding-#{$item}: $offset;
        }
      }
    }
  }
  @if $string {
    @if $important {
      .padding-#{$string} {
        padding: $offset!important;
      }
      .margin-#{$string} {
        margin: $offset!important;
      }
    }
    @else {
      .padding-#{$string} {
        padding: $offset;
      }
      .margin-#{$string} {
        margin: $offset;
      }
    }
  }
}