@import "mixin";
@import "colors";

/* ---------------------------------------------- /*
 * FONT SIZES
/* ---------------------------------------------- */
.f-12 { font-size: 12px !important; }
.f-14 { font-size: 14px !important; }
.f-16 { font-size: 16px !important; }
.f-18 { font-size: 18px !important; }
.f-20 { font-size: 20px !important; }
.f-22 { font-size: 22px !important; }
.f-24 { font-size: 24px !important; }
.f-28 { font-size: 28px !important; }
.f-30 { font-size: 30px !important; }
.f-32 { font-size: 32px !important; }
.f-36 { font-size: 36px !important; }
.f-40 { font-size: 40px !important; }
.f-48 { font-size: 48px !important; }

@include generateMarginPadding(0, "0", true);

/* ---------------------------------------------- /*
 * Header titles
/* ---------------------------------------------- */
.carousel .hestia-title {
  font-size: 67px;
}

.carousel span.sub-title {
  font-size: 18px;
}

@media (max-width: 768px) {
  .carousel .hestia-title,
  h1.hestia-title,
  .page-header.header-small .hestia-title,
  .page-header.header-small .title {
    font-size: 36px;
  }
}

/* ---------------------------------------------- /*
 * Section primary headings
/* ---------------------------------------------- */
h2.hestia-title,
h2.title {
  font-size: 37px;
}

@media (max-width: 768px) {
  h2.hestia-title,
  h2.title {
    font-size: 32px;
  }
}

.subscribe-line h3.hestia-title,
#comments .hestia-title {
  font-size: 27px;
}

h5.description,
h5.subscribe-description {
  font-size: 18px;
}

.subscribe-line .description {
  font-size: 14px;
}

/* ---------------------------------------------- /*
 * Section secondary headings
/* ---------------------------------------------- */
.hestia-work .card-title {
  font-size: 23px;
}

h4.card-title,
.hestia-info h4.info-title,
.card-blog .card-title,
.footer .widget h5,
section.contactus h4.hestia-title {
  font-size: 18px;
}

/* ---------------------------------------------- /*
 * Section content
/* ---------------------------------------------- */
h6.category {
  font-size: 12px;
}

.card-description,
section.pricing p.text-gray {
  font-size: 14px;
}

.hestia-features .hestia-info p {
  font-size: 16px;
}

/* ---------------------------------------------- /*
 * Post/page headings
/* ---------------------------------------------- */
h1,
.single-post-wrap article h1,
.page-content-wrap h1 {
  font-size: 42px;
}

h2,
.single-post-wrap article h2,
.page-content-wrap h2 {
  font-size: 37px;
}

h3,
.single-post-wrap article h3,
.page-content-wrap h3 {
  font-size: 32px;
}

h4,
.single-post-wrap article h4,
.page-content-wrap h4 {
  font-size: 27px;
}

h5,
.single-post-wrap article h5,
.page-content-wrap h5 {
  font-size: 23px;
}

h6,
.single-post-wrap article h6,
.page-content-wrap h6 {
  font-size: 18px;
}

@media (max-width: 768px) {
  h1,
  .single-post-wrap article h1,
  .page-content-wrap h1,
  .page-template-template-fullwidth article h1 {
    font-size: 36px;
  }

  h2,
  .single-post-wrap article h2,
  .page-content-wrap h2,
  .page-template-template-fullwidth article h2 {
    font-size: 32px;
  }

  h3,
  .single-post-wrap article h3,
  .page-content-wrap h3,
  .page-template-template-fullwidth article h3 {
    font-size: 28px;
  }

  h4,
  .single-post-wrap article h4,
  .page-content-wrap h4,
  .page-template-template-fullwidth article h4 {
    font-size: 24px;
  }

  h5,
  .single-post-wrap article h5,
  .page-content-wrap h5,
  .page-template-template-fullwidth article h5 {
    font-size: 21px;
  }

  h6,
  .single-post-wrap article h6,
  .page-content-wrap h6,
  .page-template-template-fullwidth article h6 {
    font-size: 18px;
  }
}

/* ---------------------------------------------- /*
 * Post/page content
/* ---------------------------------------------- */
.single-post-wrap article p,
.page-content-wrap p,
.single-post-wrap article ul,
.page-content-wrap ul,
.single-post-wrap article ol,
.page-content-wrap ol,
.single-post-wrap article dl,
.page-content-wrap dl,
.single-post-wrap article table,
.page-content-wrap table,
.page-template-template-fullwidth article p,
.page-template-template-fullwidth article ul,
.page-template-template-fullwidth article ol,
.page-template-template-fullwidth article dl,
.page-template-template-fullwidth article table {
  font-size: 18px;
}

@media (max-width: 768px) {
  .single-post-wrap article p,
  .page-content-wrap p,
  .single-post-wrap article ul,
  .page-content-wrap ul,
  .single-post-wrap article ol,
  .page-content-wrap ol,
  .single-post-wrap article dl,
  .page-content-wrap dl,
  .single-post-wrap article table,
  .page-content-wrap table,
  .page-template-template-fullwidth article p,
  .page-template-template-fullwidth article ul,
  .page-template-template-fullwidth article ol,
  .page-template-template-fullwidth article dl,
  .page-template-template-fullwidth article table {
    font-size: 16px;
  }
}

/* ---------------------------------------------- /*
 * Body
/* ---------------------------------------------- */
body {
  font-size: 14px;
}

/* ---------------------------------------------- /*
 * Menu
/* ---------------------------------------------- */
.navbar a {
  font-size: 12px;
}
